{
  "plugins": [
    "react-hooks"
  ],
  "extends": ["airbnb", "airbnb-base"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "react/jsx-filename-extension": [1]
  }
}