# MAC files
.DS_Store

# NPM
npm
npm-debug.log
node_modules

# Compiled Dirs (http://nodejs.org/api/addons.html)

# Change as necessary
build/
dist/

# API Key files
config.js


# Add paths to exact file as soon as we know where we will store them.
# Example:
# client/env/config.js
/public/bundle.js