# MAC files
.DS_Store

# NPM
npm
npm-debug.log
node_modules

# Compiled Dirs (http://nodejs.org/api/addons.html)

# Change as necessary
build/
dist/
coverage/

# API Key files
config.js

# Testing snapshots
__snapshots__

# Webpack
/public/bundle.js
